body {
	background: #000000 /*url('../images/vintage-concrete.png')*/;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: #FFFFFF; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: transparent;
	color: #FFFFFF;
	min-height: 100px;
	margin-top: 60px;
	font-family: "Work Sans", sans-serif;
	text-align: center;
	letter-spacing: 1.25px;

}

header h1 {
	padding: 40px 60px;
}


/* Nav styles */
nav { background-color: transparent; }
nav ul { 
	display: flex;
	justify-content: flex-end;
	font-family: "Work Sans", sans-serif;
	list-style-type: none;
	color: #636363;
}
nav li { padding: 10px 10px; }
nav a { color: #FFFFFF; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: transparent;
	display: grid;
	grid-template-columns: 60% 40%;
	font-family: "Work Sans", sans-serif;
	color: #636363;
}

section {
	padding: 40px 60px;
	list-style-type: circle;
	color: #636363;
}

section ol, aside ul {
	margin-top: 20px; 
	margin-left: 30px;
	font-family: "Work Sans", sans-serif;
	color: #636363;
}

aside {
	padding: 40px 10px;
	list-style-type: none;
	color: #636363;
}



/* Footer styles */
footer { 
	background-color: transparent;
	color: #636363;
	text-align: center;
	font-family: "Work Sans", sans-serif;
 }
 footer p { padding: 20px; }
