/* Enter your Styles below! */
@font-face {
  font-family: "Woodland-Light";
  src: url("../fonts/PPWoodland-Ultralight.eot");
  src:
  url("../fonts/PPWoodland-Ultralight.woff") format("woff"),
  url("../fonts/PPWoodland-Ultralight.otf") format("opentype"),
  url("../fonts/PPWoodland-Ultralight.svg#filename") format("svg");
}

@font-face {
  font-family: "Woodland";
  src: url("../fonts/PPWoodland-Regular.eot");
  src:
  url("../fonts/PPWoodland-Regular.woff") format("woff"),
  url("../fonts/PPWoodland-Regular.otf") format("opentype"),
  url("../fonts/PPWoodland-Regular.svg#filename") format("svg");
}

@font-face {
  font-family: "Radio-Bold";
  src: url("../fonts/RadioGrotesk-Bold.eot");
  src:
  url("../fonts/RadioGrotesk-Bold.woff") format("woff"),
  url("../fonts/RadioGrotesk-Bold.otf") format("opentype"),
  url("../fonts/RadioGrotesk-Bold.svg#filename") format("svg");
}

@font-face {
  font-family: "Radio";
  src: url("../fonts/RadioGrotesk-Regular.eot");
  src:
  url("../fonts/RadioGrotesk-Regular.woff") format("woff"),
  url("../fonts/RadioGrotesk-Regular.otf") format("opentype"),
  url("../fonts/RadioGrotesk-Regular.svg#filename") format("svg");
}

body {
	background-color: lightgrey;
	color: black;
	text-align: center;
}

main {
	padding: 50px;
}

#occupation {
  color: blue;
  font-family: "Woodland-Light";
}

#work {
  color: blue;
  font-family: "Woodland-Light";
}

#fields {
  color: blue;
  font-family: "Woodland-Light";
}

.container p {
	font-family: "Radio";
	font-size: 30px;
	letter-spacing: 1px;
}

.container {
	display: block;
	margin: auto;
	width: 80%;
	text-align: left;
}

button{
  background-color: lightpink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
}

button:hover{
  background-color: hotpink; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
}

footer {
	display: block;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.footer ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.footer li {
	font-family: "Radio";
	font-size: 18px;
	letter-spacing: 1px; 
	padding: 10px;
}
