/* Enter your Styles below! */
@font-face {
  font-family: "Woodland-Light";
  src: url("../fonts/PPWoodland-Ultralight.eot");
  src:
  url("../fonts/PPWoodland-Ultralight.woff") format("woff"),
  url("../fonts/PPWoodland-Ultralight.otf") format("opentype"),
  url("../fonts/PPWoodland-Ultralight.svg#filename") format("svg");
}

@font-face {
  font-family: "Woodland";
  src: url("../fonts/PPWoodland-Regular.eot");
  src:
  url("../fonts/PPWoodland-Regular.woff") format("woff"),
  url("../fonts/PPWoodland-Regular.otf") format("opentype"),
  url("../fonts/PPWoodland-Regular.svg#filename") format("svg");
}

@font-face {
  font-family: "Radio-Bold";
  src: url("../fonts/RadioGrotesk-Bold.eot");
  src:
  url("../fonts/RadioGrotesk-Bold.woff") format("woff"),
  url("../fonts/RadioGrotesk-Bold.otf") format("opentype"),
  url("../fonts/RadioGrotesk-Bold.svg#filename") format("svg");
}

@font-face {
  font-family: "Radio";
  src: url("../fonts/RadioGrotesk-Regular.eot");
  src:
  url("../fonts/RadioGrotesk-Regular.woff") format("woff"),
  url("../fonts/RadioGrotesk-Regular.otf") format("opentype"),
  url("../fonts/RadioGrotesk-Regular.svg#filename") format("svg");
}

body {
	background-color: lightgrey;
	color: black;
	text-align: center;
}

main {
	padding: 5px;
}

#occupation {
  color: blue;
  font-family: "Woodland-Light";
}

#work {
  color: blue;
  font-family: "Woodland-Light";
}

#fields {
  color: blue;
  font-family: "Woodland-Light";
}

.container {
	display: block;
	margin: auto;
	width: 77%;
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
}

.container p {
	font-family: "Radio";
	font-size: 30px;
	letter-spacing: 1px;
}

.top-space {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 70px;
}

.button {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

button{
  background-color: transparent;
  border: none;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  transition: all 700ms ease-in-out;
}

button:hover{ 
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  border: none;
  background-color: transparent;
  opacity: .2;
}

button img {
	width: 15%;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
}

hr {
	border-color: black;
	border-width: .3px;
}

footer {
	display: block;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.footer ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer li {
	font-family: "Radio";
	font-size: 18px;
	letter-spacing: 1px; 
	padding: 10px;
	padding-top: 4px;
}

.work {
	text-align: left;
}

.play {
	text-align: right;
}
